body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  background-image: url('https://files.oaiusercontent.com/file-QanovspvWdsN646Hn0Ia9vS5?se=2024-03-12T22%3A34%3A48Z&sp=r&sv=2021-08-06&sr=b&rscc=max-age%3D31536000%2C%20immutable&rscd=attachment%3B%20filename%3D1b3234ed-e80c-4ae0-8eca-1f9c4266bfb9.webp&sig=mYFaaxy%2B6TfHGdsb3fAIUywYCiEFt31PNVHH7OSX8Yg%3D');
  color: #c0c0c0;
  background-position: center; 
}

.App {
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin: 20px;
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.909); 
  border-radius: 30px; 
  box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
}

.app-header {
  margin-bottom: 2rem;
}

.app-title {
  margin: 0;
  color: #ffffff; 
  font-size: 2.5rem;
}

.app-description {
  color: #c0c0c0; 
}


.card-container {
  perspective: 1000px;
}

.card:hover {
  transform: translateY(-5px) scale(1.05); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.987);
}

.card-front {
  background-color: #5682aa;
}

.card-back {
  background-color: #ca431b;
  transform: rotateY(180deg);
}

.btn {
  margin-top:20px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: #241ed1d8;
  color: white;
  font-size: 16px;
  cursor:pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.color-description {
  font-size: 16px;
  margin-top: 10px; 
  color: #fffcfc; 
}

.color-question {
  color: #5682aa; 
  font-weight: bold; 
}

.color-answer {
  color: #ca431b; 
  font-weight: bold; 
}